<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--Linking fonts to template-->

        <!--This code links the font "work sans" to this page-->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

        <!--This code links the font "fredoka" to this page"-->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap" rel="stylesheet">

        <!--This code links the font "rubik dirt" to this page"-->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Rubik+Dirt&display=swap" rel="stylesheet">
    
    
    <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/5/w3.css">
    <title>Sandwich</title>
</head>
<body>
    <!--Shared Header Bar-->
    <!--Shared Navbar-->



    <nav>
        <!--This is the navigation bar, it will appear at the very top of the screen and contain links to all other main pages.-->


    </nav>


   <aside>
        <!--This is the "side" content to the main page. This will include an image of the sandwich that the user has clicked on (image from database link).-->


   </aside>
    

    <main>
        <!--This is the main content of the page, this will include the name of the sandwich, a description of it under it,
        and below that a button that the user can click to add the sandwich to their cart.-->


    </main>


    <footer>
        <!--This will sit at the bottom of the page with a contact email-->


    </footer>
        
</body>
</html>