<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--Linking fonts to template-->
        <!-- Include Work Sans with all weights and styles -->
        <link href="https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

        <!-- Include Fredoka with desired weights -->
        <link href="https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap" rel="stylesheet">

        <!-- Include Rubik Dirt -->
        <link href="https://fonts.googleapis.com/css2?family=Rubik+Dirt&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/5/w3.css">
    <title>Thank You For Your Purchase</title>
</head>
<body>
   <!--Shared Header Bar-->
   <!--Shared Navbar-->
   {% block body %}
   {% endblock %}


    <nav>
        <!--This is the navigation bar, it will appear at the very top of the screen and contain links to all other main pages-->


    </nav>


    <header>
        <!--This is the header, of the page. It will only contain a banner image sporting the brandname, motto, brief description of business, 
        and images of some avaliable products-->

    </header>

    

    <main>
        <!--This is the main content of the page, it will appear under the banner image and contain one of the company's offers (sub of the day), 
        and will also include another brief description about the business's commitments and practices-->


    </main>


    <footer>
        <!--This will sit at the bottom of the page with a contact email-->


    </footer>
        
</body>
</html>