<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/5/w3.css">
    <title>Create an Account</title>
</head>
<body>
   <!--Shared Header Bar-->
   <!--Shared Navbar-->
   {% block body %}
   {% endblock %}

   
    <nav>
        <!--This is the navigation bar, it will appear at the very top of the screen and contain links to all other main pages-->


    </nav>


    <header>
        <!--This is the header, of the page. It will only contain the text "Create a Subvay Account" and will sit below the nav bar-->

    </header>

    

    <main>
        <!--This is the main content of the page, it will apear under the header and contain a box with a sign in if the user already has an account,
        and a box under that containing-->


    </main>


    <footer>
        <!--This will sit at the bottom of the page with a contact email-->


    </footer>
        
</body>
</html>