<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <!-- Dynamic page title -->
    <title>{% block title %} Document {% endblock %}</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</head>
<body>

<!-- Navigation bar block -->
{% block nav %}
<nav class="navbar bg-body-tertiary">
    <div class="container-fluid">
        <!-- links -->
        <ul class="navbar-nav d-flex flex-row justify-content-around mb-0 w-100">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/menu">Menu</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('offers') }}">Offers</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('history') }}">History</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('checkout') }}">Checkout</a>
            </li>
            
            <!-- Dynamic Sign In -->
            {% if session.user and user_name %}
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('account_details') }}">{{ user_name }}</a>
            </li>
            {% else %}
            <li class="nav-item">
                <a class="nav-link" href="/signin">Sign In</a>
            </li>
            {% endif %}
        </ul>
    </div>
</nav>
{% endblock %}



<!-- content placeholder -->
{% block content %}
{% endblock %}

<!-- Bootstrap JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
</body>
</html>
