{% extends "layout.html" %}

{% block content %}
<br>
<h2 class="menu-title">Sandwiches You May Like</h2>

<hr class="title-divider">

<div class="sandwich-list three-column">

    {% if all_sandwiches %}
        {% for sandwich in all_sandwiches %}

        <!-- Index 0: ID --->
        <a href="{{ url_for('sandwich', id=sandwich[0]) }}">
            <div class="sandwich-card">
                <div class="sandwich-card-image-box">
                    <!-- Index 3: image_url -->
                    <img src="{{ sandwich[3] }}" alt="{{ sandwich[1] }}">
                </div>
                <div class="sandwich-card-info-box">
                    <!-- Index 1: name -->
                    <h2>{{ sandwich[1] }}</h2>

                    <!-- Index 4: price -->
                    <p class="price-text">${{ "%.2f"|format(sandwich[4]) }}</p>
                </div>
            </div>
        </a>

        {% endfor %}
    {% endif %}

    <!-- Custom sandwich builder card -->
    <a href="{{ url_for('custom_sandwich') }}">
        <div class="sandwich-card">
            <div class="sandwich-card-image-box">
                <span class="material-icons custom-sandwich-icon">add_circle</span>
            </div>
            <div class="sandwich-card-info-box">
                <h2>Make Your Own</h2>
                <p class="price-text">${{ "%.2f"|format(custom_starting_price) }}</p>
            </div>
        </div>
    </a>

</div>

{% if not all_sandwiches %}
    <p>The menu is currently empty.</p>
{% endif %}

{% endblock %}