<!--This code is transfered from the layout page to this page and all others. It is here just for display and would be inefficient if included as actual code-->
<!--
<!DOCTYPE html>
<html lang="en">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
        Linking fonts to template

            This code links the font "work sans" to this page
            <link rel="preconnect" href="https://fonts.googleapis.com">
            <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
            <link href="https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

            This code links the font "fredoka" to this page"
            <link rel="preconnect" href="https://fonts.googleapis.com">
            <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
            <link href="https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap" rel="stylesheet">

        <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/5/w3.css">

    -->
    
{% Block Title %}Home{% Endblock %}

{% Block Nav %} 
    <nav class="w3-bar w3-black">
        <a href="#" class="w3-bar-item w3-button">Home</a>
        <a href="#" class="w3-bar-item w3-button">Link 1</a>
        <a href="#" class="w3-bar-item w3-button">Link 2</a>
        <a href="#" class="w3-bar-item w3-button">Link 3</a>
    </nav>
{% Endblock %}

{% Block Content %}

<div class="2-column"></div>
<div class="w3-card-4"></div>

<header>
<img src="static/Images/banner_img.png" alt="Banner image for website with pictures of avaliable subs and description of the business">

</header>

{% Endblock %}
