nav {
    height: 109px;
    background-color: #242424;
}

footer {

}

/* Fixes the image "background.png" to the body of all pages */
body {
    background-image: url('Images/background.png');
    background-size: cover; /* makes the image cover the entire background */
    background-position: center; /* centers the image */
    background-repeat: no-repeat; /* prevents image occuring multiple times */
    background-attachment: fixed; /*makes the background stay fixed when scrolling */
}

/* "Work Sans" styles */
.ws {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
}

/* "Fredoka" styles */
.fr {
    font-family: "Fredoka", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

/* "Rubik Dirt" styles */
.rd {
    font-family: "Rubik Dirt", system-ui;
    font-weight: 400;
    font-style: normal;
    color: #FF0020;
}


