nav {
    height: 109px;
    background-color: #242424;
}

/*------------------------------ Seperator Line ------------------------------*/

footer {
    height: 109px;
    background-color: #242424;
    text-align: center;
}

/*------------------------------ Seperator Line ------------------------------*/

/* Fixes the image "background.png" to the body of all pages */
body {
    background-image: url('Images/background.png');
    background-size: cover; /* makes the image cover the entire background */
    background-position: center; /* centers the image */
    background-repeat: no-repeat; /* prevents image occuring multiple times */
    background-attachment: fixed; /*makes the background stay fixed when scrolling */
}

/*------------------------------ Seperator Line ------------------------------*/

/* FONTS */

/* "Work Sans" styles */
.ws {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
}

/* "Fredoka" styles */
.fr {
    font-family: "Fredoka", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

/* "Rubik Dirt" styles */
.rd {
    font-family: "Rubik Dirt", system-ui;
    font-weight: 400;
    font-style: normal;
    color: #FF0020;
}

/*------------------------------ Seperator Line ------------------------------*/

/* TEXT STYLES */

/* Global heading sizes for each */
h1 { font-size: 50px; }
h2 { font-size: 40px; }
h3 { font-size: 30px; }
h4 { font-size: 25px; }
h5 { font-size: 20px; }
h6 { font-size: 15px; }


/* Global color classes for headings and other elements */
.red { color: #FF0909; }
.yellow { color: #FFC809; }
.white { color: white; }

/*------------------------------ Seperator Line ------------------------------*/

.three-column {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10em;
}

.two-column {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25em;
}

img {

}


